<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Name</title>
</head>
<body>
    <div id="root"></div>
    <script>var country_from_header = "{{ country }}";</script>
</body>
</html>
